<p>
  Vivian
</p>
<app-test1 *ngIf="aw" name="vivian"></app-test1>
<button (click)="aw=false;"> Change aw
</button>
<div *ngFor="let item of person, let i = index">
 
  <p>
    {{item}}======{{i}}
  </p>
</div>

<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">el valor es 3</p>
  <p *ngSwitchCase="2">el valor es 2</p>
  <p *ngSwitchDefault>no es ni 2 ni 3</p>

</div>

<button (click)="auxcolor='yellow'">amarillo</button>
<button (click)="auxcolor='green'">verde</button>
<button (click)="auxcolor='red'">rojo</button>
<div [ngStyle]="{'border':'1px solid '+auxcolor, 'color': auxcolor}">
 personas
</div>
<div [style.color]="auxcolor" [style.border]="'1px solid '+auxcolor">
  autos
 </div>

<button (click)="auxclass=!auxclass">
  Change class
</button>
 <div [ngClass]="{'test1':auxclass, 'test2':!auxclass}">
  ng class example
 </div>

 <div [class.test1]="auxclass">
  ng class example
 </div>