<div class="row">


<div *ngFor="let item of products" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{item.titulo}}</mat-card-title>
    <mat-card-subtitle>{{item.price}} Bs.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.imageUrl" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{item.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>COMPRAR</button>
  </mat-card-actions>
</mat-card>

</div>
</div>